body {
    font-size: 16pt;
    margin-inline: auto;
    max-width: 80ch;
}

[hidden] {
    display: none !important;
}

.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    position: relative;
    border: 3px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

.loader::after {
    content: "";
    box-sizing: border-box;
    width: 6px;
    height: 24px;
    background: black;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    left: 46px;
}

@keyframes animloader {
    0% {
        transform: translate(-10px, -10px);
    }
    25% {
        transform: translate(-10px, 10px);
    }
    50% {
        transform: translate(10px, 10px);
    }
    75% {
        transform: translate(10px, -10px);
    }
    100% {
        transform: translate(-10px, -10px);
    }
}

input[id="query-input"] {
    border: none;
    margin-block-start: 1ch;
    outline: 1px solid;
    padding-block: 1ch;
    padding-inline: 1ch;
    width: 100%;
}

table[id="query-output"] {
    table-layout: auto;

    tr {
        content-visibility: auto;
        contain-intrinsic-size: auto 500px;
    }

    th[role="rowheader"] {
        background-color: whitesmoke;
        font-family: sans-serif;
        font-size: 18pt;
        padding-block: 1ch;
        padding-inline: 1ch;
        position: sticky;
        text-align: center;
        text-transform: uppercase;
        top: 0;
    }

    td {
        padding-block: 0.5ch;
        vertical-align: top;
    }

    td:nth-of-type(1) {
        font-family: sans-serif;
        font-weight: bold;
        padding-inline-start: 1ch;
        text-align: right;
    }

    td:nth-of-type(2) {
        font-family: serif;
        padding-inline-start: 2ch;
        padding-inline-end: 2ch;
        text-align: justify;
    }
}

@media only screen and (max-width: 600px) {
    input[id="query-input"] {
        display: block;
        margin-inline: auto;
        width: 95%;
    }
    td:nth-child(1) {
        padding-inline-start: 0 !important;
    }
}
