body {
    font-size: 16pt;
    margin-inline: auto;
    max-width: 80ch;
}

input[id="query-input"] {
    border: none;
    margin-block-start: 1ch;
    outline: 1px solid;
    padding-block: 1ch;
    padding-inline: 1ch;
    width: 100%;
}

table[id="query-output"] {
    table-layout: auto;

    th[role="rowheader"] {
        background-color: whitesmoke;
        font-family: sans-serif;
        font-size: 18pt;
        padding-block: 1ch;
        padding-inline: 1ch;
        position: sticky;
        text-align: center;
        text-transform: uppercase;
        top: 0;
    }

    td {
        padding-block: 0.5ch;
        vertical-align: top;
    }

    td:nth-child(1) {
        font-family: sans-serif;
        font-weight: bold;
        padding-inline-start: 1ch;
        text-align: right;
    }

    td:nth-child(2) {
        font-family: serif;
        padding-inline-start: 2ch;
        padding-inline-end: 2ch;
        text-align: justify;
    }
}

@media only screen and (max-width: 600px) {
    input[id="query-input"] {
        display: block;
        margin-inline: auto;
        width: 95%;
    }
    td:nth-child(1) {
        padding-inline-start: 0 !important;
    }
}
